<div class="container" id="cont">
    <div class="row">
        <div class="col">
            <form id="contact-form">
                <div class="form-group">
                    <label>Name</label>
                    <input id="formName" class="form-control" placeholder="Your name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input id="formEmail" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea rows="9" id="formMessage" class="form-control" placeholder="Message"></textarea>
                </div>
            </form>
            <button class="btn btn-outline-dark btn-block send">Send</button>
            <br>
        </div>

        <br>
        <br>

        <div class="col-sm-7">
            <div id="map"></div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--Title--><h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-content">
                    <!--Content-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>