<div class="container" id="cont">
  <!-- CARROUSEL -->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="d-block w-100" src="view/img/carrousel/carrousel-img0.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">— Coffee and books —</h1>
          </div>

        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="view/img/carrousel/carrousel-img1.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">— Relaxing with a good book —</h1>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="view/img/carrousel/carrousel-img2.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="text-light">— Monday free coffee —</h1>
          </div>
        </div>
      </div>


      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /CARROUSEL -->

    <br>
    <!-- SEARCH MENU -->
    <div class="input-group" id="menu-search">
      <select class="form-control" id="search-type">
        <option value="">- Type -</option>
        <option value="libro">Book</option>
        <option value="articulo">Article</option>
        <option value="revista">Magazine</option>
      </select>

      <select class="form-control" id="search-genre">
        <option value="">- Genre -</option>
        <option value="accion">Action</option>
        <option value="aventuras">Adventures</option>
        <option value="terror">Terror</option>
        <option value="otro">Other</option>
      </select>

      <input class="form-control" id="search-home" placeholder="Search...">

      <span class="input-group-append">
        <button class="btn btn-outline-dark" type="button" id="search-btn">
          <span class="glyphicon glyphicon-search"></span> Search 
        </button>
      </span>
      <!-- /SEARCH MENU -->
      

  </div>
  <div class="text-center" id="suggestions"></div>
  <br>
  <div class="row text-center" id="contents"></div>

  <div class="spinner-border text-dark" id="scroll-load-icon" role="status"></div>

  <!-- modal window -->
  <section id="modalRes">
      <div id="contentRes" hidden>
          <div id="container">
              <b>ID:</b><div id="idRes"></div><br>
              <b>Type:</b> <div id="typeRes"></div><br>
              <b>Name:</b><div id="nameRes"></div><br>
              <b>Editorial:</b><div id="editorialRes"></div><br>
              <b>ISBN:</b><div id=isbnRes></div><br>
              <b>Release:</b><div id="releaseRes"></div><br>
              <b>Genre:</b><div id="genreRes"></div><br>
              <b>Date add:</b><div id="dateAddRes"></div><br>
          </div>
      </div>
  </section>

  <!-- error window -->
  <section id="modalError">
      <div id="contError" hidden>
          <p><b data-tr="errorGeneral"></b></p>
      </div>
  </section>
</div>