<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img class="d-block w-100" src="view/img/carrousel/carrousel-img0.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">— Coffee and books —</h1>
        </div>

      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="view/img/carrousel/carrousel-img1.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">— Relaxing with a good book —</h1>
        </div>
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="view/img/carrousel/carrousel-img2.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="text-light">— Monday free coffee —</h1>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <br>




  <div class="input-group" id="menu-search">
    <select class="form-control" id="search-type">
      <option value="">- Type -</option>
      <option value="libro">Book</option>
      <option value="articulo">Article</option>
      <option value="revista">Magazine</option>
    </select>

    <select class="form-control" id="search-genre">
      <option value="">- Genre -</option>
      <option value="accion">Action</option>
      <option value="aventuras">Adventures</option>
      <option value="terror">Terror</option>
      <option value="otro">Other</option>
    </select>

    <input class="form-control" id="search-home" placeholder="Search...">

    <span class="input-group-append">
      <button class="btn btn-outline-dark" type="button" id="search-btn">
        <span class="glyphicon glyphicon-search"></span> Search 
      </button>
    </span>
    
    

</div>
<div id="suggestions" class="text-center"></div>