<div class="container" id="cont">
  <h1>Cart list</h1>
  <hr>

  <div class="empty-msg" hidden>
    <p>Empty cart</p>
    <button class="btn btn-outline-dark btn-block redirect-to-shop">Go to store</button>
  </div>


  <div class="content-cart-details">
    <div class="card cart-elements">
      <!-- <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        Titulo
                    </div>
                    <div class="col-1 noSeleccionable">
                        <span class="glyphicon glyphicon-minus subtract-item pointer" id="x"></span>
                        <span class="quantity">0</span>
                        <span class="glyphicon glyphicon-plus add-item pointer" id="x"></span>
                    </div>
                    <div class="col-1">
                        <span class="glyphicon glyphicon-remove remove-item pointer" id="x"></span>
                    </div>
                </div>
            </div>
        </div>  -->
    </div>
    <br>

    <h5>
      <span>Total: </span> <span class="total-price"></span>
    </h5>

    <br>
    <button type="button" class="btn btn-outline-success btn-block complete-order"> Complete order </button>
    <button class="btn btn-outline-dark btn-block redirect-to-shop">Go to store</button>
  </div>

  <!-- MODAL INFO -->
  <div class="modal" id="modal-info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-info-content">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark close-modal" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>