<div class="container" id="cont">
    <div class="row">
        <!-- LOGIN -->
        <div class="col">
            <h2>Login</h2>
            <form id="lg-form">
                <div class="form-group">
                    <label>Nick</label>
                    <input type="text" class="form-control" name="lg-nick" id="lg-nick" placeholder="Nick..."
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="lg-password" id="lg-password"
                        placeholder="Password...">
                    <a href="#">
                        <small id="lf-recpassword" class="form-text text-muted">Forgotten password?</small>
                    </a>
                </div>
            </form>
            <button type="button" class="btn btn-block btn-outline-dark" id="lg-btn">Login</button>

            <div id="social-login" class="pointer float-right">
                <i class="fab fa-google"></i>
                <i class="fab fa-github"></i>
            </div>
            
        </div>

        <div class="col-sm-1">
            <div class="vertical-line"></div>
            <br>
        </div>


        <!-- REGISTER -->
        <div class="col">
            <h2>Register</h2>
            <form id="reg-form">
                <div class="form-group">
                    <label>Nick</label>
                    <input type="text" class="form-control" name="reg-nick" id="reg-nick" placeholder="Nick...">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="reg-email" id="reg-email" placeholder="Email...">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="reg-password" id="reg-password"
                        placeholder="Password...">
                </div>
                <div class="form-group">
                    <label>Repeat password</label>
                    <input type="password" class="form-control" name="reg-password-rep" id="reg-password-rep"
                        placeholder="Repeat password...">
                </div>
            </form>
            <button type="button" class="btn btn-block btn-outline-dark" id="reg-btn">Register</button>
        </div>
    </div>

    <!-- MODAL ERROR -->
    <div class="modal" id="modal-error" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-err-content">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-recover" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recover password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-err-content">
                    <form id="form-rec-passwd">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="inp-rec-passwd" id="inp-rec-passwd" placeholder="Email...">

                        </div>
                    </form>
                    <button type="button" class="btn btn-block btn-outline-dark" id="btn-rec-passwd">Recover password</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-outline-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>