<div class="container" id="cont">

    <form>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="passwd" placeholder="Password...">
        </div>
        <div class="form-group">
            <label>Repeat password</label>
            <input type="password" class="form-control" id="passwd1" placeholder="Repeat password...">
        </div>
        
        <button type="button" class="btn btn-block btn-outline-dark" id="set-rec-passwd">Recover password</button>

    </form>

</div>